div {
  display: flex;
  justify-content: space-between;
}

div > div {
  flex: 1;  /* Cada bloque tomará un espacio igual dentro del contenedor */
  text-align: center;  /* Alinea el contenido de cada bloque al centro */
}

img {
  max-width: 100%;  /* Asegura que las imágenes no excedan el ancho de sus contenedores */
}
